# Ignore everything in the root except the "app/public" directory.

!.gitignore
/conf
/logs
#Ignore everything within wp-content except for must-use-plugins and the themes folder.

/app
!app/wp-content
!plugins/skills-manager
!mu-plugins
!themes/eventhorizon/*

node_modules
