# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!wp-content/

# Ignore everything in the "wp-content" directory, except the "mu-plugins"
# and "themes" directories.
wp-content/*
!wp-content/mu-plugins/
!wp-content/themes/

# Ignore everything in the "themes" directory, except the themes you
# specify (see the commented-out example for a hint on how to do this.)
wp-content/themes/*
!wp-content/themes/eventhorizon/
